<div class="min-h-screen bg-gray-900 text-white flex flex-col items-center justify-center p-8">
  <form [formGroup]="form" (ngSubmit)="salvar()" class="bg-gray-800 p-6 rounded shadow w-full max-w-md">
    <h2 class="text-2xl font-bold mb-4 text-blue-400">Criar Gênero</h2>

    <div class="mb-4">
      <label class="block text-sm">Descrição do gênero:</label>
      <input
        type="text"
        formControlName="descricao"
        class="w-full p-2 rounded bg-gray-700 text-white"
        placeholder="Ex.: Ação, Drama..."
      />
    </div>

    <button
      type="submit"
      [disabled]="form.invalid"
      class="w-full p-2 bg-blue-600 rounded hover:bg-blue-700 transition"
    >
      Salvar
    </button>
  </form>
</div>
