<div class="min-h-screen bg-gray-900 text-white p-8">
  <h1 class="text-3xl font-bold mb-6">🎬 Boscov</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      *ngFor="let filme of filmes"
      class="bg-gray-800 p-4 rounded shadow hover:shadow-lg transition"
    >
      <h2 class="text-xl font-semibold">{{ filme.titulo }}</h2>
      <p class="text-gray-400 text-sm">{{ filme.descricao }}</p>
      <p class="mt-2">
        <strong>Gêneros:</strong>
        {{ getGeneros(filme) }}
      </p>

      <p><strong>Avaliação:</strong> {{ filme.notaMedia || "N/A" }}</p>
    </div>
  </div>
</div>
