<div class="p-4">
  <h2 class="text-2xl font-bold mb-4">Minhas Avaliações</h2>

  <div *ngIf="avaliacoes.length > 0; else noAvaliacoes">
    <div
      *ngFor="let avaliacao of avaliacoes"
      class="mb-4 p-4 bg-gray-800 text-white rounded shadow flex flex-col"
    >
      <p class="font-semibold text-lg">Filme: {{ avaliacao.nomeFilme }}</p>
      <p class="mt-2">Nota: {{ avaliacao.nota }}</p>
      <p class="mt-2">Comentário: {{ avaliacao.comentario }}</p>
      <p class="mt-2 text-sm text-gray-400">
        Data:
        {{
          avaliacao.dataAtualizacao
            ? (avaliacao.dataAtualizacao | date : "short")
            : (avaliacao.dataCriacao | date : "short")
        }}
      </p>
    </div>
  </div>

  <ng-template #noAvaliacoes>
    <p class="text-gray-400">Você ainda não fez nenhuma avaliação.</p>
  </ng-template>
</div>
